{
	"name": "Secciones",
	"elements": {
		"ecaee7ea-01d2-43a5-94d4-2791f5a48f62": {
			"name": "Image",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"instancelimit": "",
			"files": {
				"_mode": "files",
				"_default_source": "",
				"_extensions": "bmp|gif|jpg|jpeg|png",
				"_source_dir": "images\/secciones",
				"_max_upload_size": "2048",
				"resize": {
					"avoid_resize_small": "0",
					"width": "",
					"height": "",
					"crop": "0"
				}
			},
			"specific": {
				"_custom_options": "1",
				"_custom_title": "1",
				"_custom_link": "0",
				"_custom_lightbox": "1",
				"_custom_overlay": "1"
			},
			"type": "imagepro"
		},
		"e4a93138-acc0-4b85-811b-1eb303b1aaf8": {
			"name": "EN",
			"description": "",
			"access": "",
			"basic": "",
			"layout": {
				"_layout": "section.php",
				"_folding": "2"
			},
			"zoolingual": {
				"_languages": {
					"0": "en-GB"
				}
			},
			"type": "separator"
		},
		"b4fd6f09-fe45-4d70-82e1-c823a28aef0e": {
			"name": "Content Teaser",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"jplugins": "1",
			"zoolingual": {
				"_languages": {
					"0": "en-GB"
				}
			},
			"type": "textarea"
		},
		"42b41bf8-dbd2-4ede-bdc9-7c46cfb9d8fe": {
			"name": "Content Full",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"jplugins": "1",
			"zoolingual": {
				"_languages": {
					"0": "en-GB"
				}
			},
			"type": "textarea"
		},
		"8b9b9517-0d1d-4715-a3e3-eb7314283f40": {
			"name": "ES",
			"description": "",
			"access": "",
			"basic": "",
			"layout": {
				"_layout": "section.php",
				"_folding": "2"
			},
			"zoolingual": {
				"_languages": {
					"0": "es-ES"
				}
			},
			"type": "separator"
		},
		"f0a771df-d869-4954-97ac-ee1764addd74": {
			"name": "Content Teaser",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"jplugins": "1",
			"zoolingual": {
				"_languages": {
					"0": "es-ES"
				}
			},
			"type": "textarea"
		},
		"ee35e90b-1174-4eae-95f6-72b217f0a4c3": {
			"name": "Content Full",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"jplugins": "1",
			"zoolingual": {
				"_languages": {
					"0": "es-ES"
				}
			},
			"type": "textarea"
		},
		"_itemaccess": {
			"name": "Access",
			"description": "",
			"access": "1",
			"type": "itemaccess"
		},
		"_itemauthor": {
			"name": "Author",
			"description": "",
			"access": "1",
			"type": "itemauthor"
		},
		"_itemcategory": {
			"name": "Categories",
			"description": "",
			"access": "1",
			"type": "itemcategory"
		},
		"_itemprimarycategory": {
			"name": "Primary Category",
			"description": "",
			"access": "1",
			"type": "itemprimarycategory"
		},
		"_itemcommentslink": {
			"name": "Comments Link",
			"description": "",
			"access": "1",
			"type": "itemcommentslink"
		},
		"_itemcreated": {
			"name": "Creation Date",
			"description": "",
			"access": "1",
			"type": "itemcreated"
		},
		"_itemedit": {
			"name": "Edit",
			"description": "",
			"access": "1",
			"type": "itemedit"
		},
		"_itemfrontpage": {
			"name": "Frontpage Enabled",
			"description": "",
			"access": "1",
			"type": "itemfrontpage"
		},
		"_itemhits": {
			"name": "Hits",
			"description": "",
			"access": "1",
			"type": "itemhits"
		},
		"_itemlink": {
			"name": "Item Link",
			"description": "",
			"access": "1",
			"type": "itemlink"
		},
		"_itemmodified": {
			"name": "Modification Date",
			"description": "",
			"access": "1",
			"type": "itemmodified"
		},
		"_itemname": {
			"name": "Name",
			"description": "",
			"access": "1",
			"type": "itemname"
		},
		"_itemprint": {
			"name": "Print",
			"description": "",
			"access": "1",
			"type": "itemprint"
		},
		"_itempublish_down": {
			"name": "Publish Down Date",
			"description": "",
			"access": "1",
			"type": "itempublish_down"
		},
		"_itempublish_up": {
			"name": "Publish Up Date",
			"description": "",
			"access": "1",
			"type": "itempublish_up"
		},
		"_itemprevnext": {
			"name": "Previous\/Next Link",
			"description": "",
			"access": "1",
			"type": "itemprevnext"
		},
		"_itemsearchable": {
			"name": "Searchable",
			"description": "",
			"access": "1",
			"type": "itemsearchable"
		},
		"_itemstate": {
			"name": "State",
			"description": "",
			"access": "1",
			"type": "itemstate"
		},
		"_itemtag": {
			"name": "Tags",
			"description": "",
			"access": "1",
			"type": "itemtag"
		},
		"_staticcontent": {
			"name": "Static Content",
			"description": "",
			"access": "1",
			"type": "staticcontent"
		}
	},
	"zl": null
}