{
	"name": "Servicios",
	"elements": {
		"6436f65a-571e-43ec-b4bb-823110175f18": {
			"name": "Image",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"instancelimit": "",
			"files": {
				"_mode": "files",
				"_default_source": "",
				"_extensions": "bmp|gif|jpg|jpeg|png",
				"_source_dir": "images\/servicios",
				"_max_upload_size": "2048",
				"resize": {
					"avoid_resize_small": "0",
					"width": "",
					"height": "",
					"crop": "0"
				}
			},
			"specific": {
				"_custom_options": "0",
				"_custom_title": "1",
				"_custom_link": "0",
				"_custom_lightbox": "1",
				"_custom_overlay": "1"
			},
			"type": "imagepro"
		},
		"b3103a3a-d3af-4220-87e5-2e6f61e08e8f": {
			"name": "EN",
			"description": "",
			"access": "",
			"basic": "",
			"layout": {
				"_layout": "section.php",
				"_folding": "2"
			},
			"zoolingual": {
				"_languages": {
					"0": "en-GB"
				}
			},
			"type": "separator"
		},
		"5942fb97-e701-4488-ada8-6624f0f4fef9": {
			"name": "Title",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"zoolingual": {
				"_languages": {
					"0": "en-GB"
				}
			},
			"type": "text"
		},
		"7512ab32-ee4f-44ab-994c-509676fcde27": {
			"name": "Content Teaser",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"jplugins": "1",
			"zoolingual": {
				"_languages": {
					"0": "en-GB"
				}
			},
			"type": "textarea"
		},
		"cd735a40-b6db-406f-8aef-f8d4dadce41e": {
			"name": "Content Full",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"jplugins": "1",
			"zoolingual": {
				"_languages": {
					"0": "en-GB"
				}
			},
			"type": "textarea"
		},
		"49308399-8eab-4563-84d6-275e2d7bf35f": {
			"name": "ES",
			"description": "",
			"access": "",
			"basic": "",
			"layout": {
				"_layout": "section.php",
				"_folding": "2"
			},
			"zoolingual": {
				"_languages": {
					"0": "es-ES"
				}
			},
			"type": "separator"
		},
		"b4ca0bb3-c712-47fc-b16e-6ee58a9d0bc0": {
			"name": "Title",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"zoolingual": {
				"_languages": {
					"0": "es-ES"
				}
			},
			"type": "text"
		},
		"f44a71eb-2a32-43f0-86f0-f7b875d4a51c": {
			"name": "Content Teaser",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"jplugins": "1",
			"zoolingual": {
				"_languages": {
					"0": "es-ES"
				}
			},
			"type": "textarea"
		},
		"e295e7f2-cae2-4ed9-9fbe-21c0ff9ab8fc": {
			"name": "Content Full",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"jplugins": "1",
			"zoolingual": {
				"_languages": {
					"0": "es-ES"
				}
			},
			"type": "textarea"
		},
		"b086cc77-ad64-414e-9fc4-96d36d1b2509": {
			"name": "Modulo de Cotizador",
			"description": "",
			"access": "1",
			"default": "123",
			"type": "joomlamodule"
		},
		"_itemaccess": {
			"name": "Access",
			"description": "",
			"access": "1",
			"type": "itemaccess"
		},
		"_itemauthor": {
			"name": "Author",
			"description": "",
			"access": "1",
			"type": "itemauthor"
		},
		"_itemcategory": {
			"name": "Categories",
			"description": "",
			"access": "1",
			"type": "itemcategory"
		},
		"_itemprimarycategory": {
			"name": "Primary Category",
			"description": "",
			"access": "1",
			"type": "itemprimarycategory"
		},
		"_itemcommentslink": {
			"name": "Comments Link",
			"description": "",
			"access": "1",
			"type": "itemcommentslink"
		},
		"_itemcreated": {
			"name": "Creation Date",
			"description": "",
			"access": "1",
			"type": "itemcreated"
		},
		"_itemedit": {
			"name": "Edit",
			"description": "",
			"access": "1",
			"type": "itemedit"
		},
		"_itemfrontpage": {
			"name": "Frontpage Enabled",
			"description": "",
			"access": "1",
			"type": "itemfrontpage"
		},
		"_itemhits": {
			"name": "Hits",
			"description": "",
			"access": "1",
			"type": "itemhits"
		},
		"_itemlink": {
			"name": "Item Link",
			"description": "",
			"access": "1",
			"type": "itemlink"
		},
		"_itemmodified": {
			"name": "Modification Date",
			"description": "",
			"access": "1",
			"type": "itemmodified"
		},
		"_itemname": {
			"name": "Name",
			"description": "",
			"access": "1",
			"type": "itemname"
		},
		"_itemprint": {
			"name": "Print",
			"description": "",
			"access": "1",
			"type": "itemprint"
		},
		"_itempublish_down": {
			"name": "Publish Down Date",
			"description": "",
			"access": "1",
			"type": "itempublish_down"
		},
		"_itempublish_up": {
			"name": "Publish Up Date",
			"description": "",
			"access": "1",
			"type": "itempublish_up"
		},
		"_itemprevnext": {
			"name": "Previous\/Next Link",
			"description": "",
			"access": "1",
			"type": "itemprevnext"
		},
		"_itemsearchable": {
			"name": "Searchable",
			"description": "",
			"access": "1",
			"type": "itemsearchable"
		},
		"_itemstate": {
			"name": "State",
			"description": "",
			"access": "1",
			"type": "itemstate"
		},
		"_itemtag": {
			"name": "Tags",
			"description": "",
			"access": "1",
			"type": "itemtag"
		},
		"_staticcontent": {
			"name": "Static Content",
			"description": "",
			"access": "1",
			"type": "staticcontent"
		}
	},
	"zl": null
}