{
	"name": "Slideshow",
	"elements": {
		"144b0e71-4cf2-44e8-92d5-f48bf26b581e": {
			"name": "Image",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"instancelimit": "",
			"files": {
				"_mode": "files",
				"_default_source": "",
				"_extensions": "bmp|gif|jpg|jpeg|png",
				"_source_dir": "images\/slideshow",
				"_max_upload_size": "2048",
				"resize": {
					"avoid_resize_small": "0",
					"width": "",
					"height": "",
					"crop": "0"
				}
			},
			"specific": {
				"_custom_options": "1",
				"_custom_title": "1",
				"_custom_link": "0",
				"_custom_lightbox": "1",
				"_custom_overlay": "1"
			},
			"type": "imagepro"
		},
		"0e2813a9-dfed-4eb6-86f2-49a62e00997e": {
			"name": "Content EN",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"jplugins": "1",
			"zoolingual": {
				"_languages": {
					"0": "en-GB"
				}
			},
			"type": "textarea"
		},
		"b40f8e4e-f708-469b-9186-4183af61b510": {
			"name": "Content ES",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"jplugins": "1",
			"zoolingual": {
				"_languages": {
					"0": "es-ES"
				}
			},
			"type": "textarea"
		},
		"_itemaccess": {
			"name": "Access",
			"description": "",
			"access": "1",
			"type": "itemaccess"
		},
		"_itemauthor": {
			"name": "Author",
			"description": "",
			"access": "1",
			"type": "itemauthor"
		},
		"_itemcategory": {
			"name": "Categories",
			"description": "",
			"access": "1",
			"type": "itemcategory"
		},
		"_itemprimarycategory": {
			"name": "Primary Category",
			"description": "",
			"access": "1",
			"type": "itemprimarycategory"
		},
		"_itemcommentslink": {
			"name": "Comments Link",
			"description": "",
			"access": "1",
			"type": "itemcommentslink"
		},
		"_itemcreated": {
			"name": "Creation Date",
			"description": "",
			"access": "1",
			"type": "itemcreated"
		},
		"_itemedit": {
			"name": "Edit",
			"description": "",
			"access": "1",
			"type": "itemedit"
		},
		"_itemfrontpage": {
			"name": "Frontpage Enabled",
			"description": "",
			"access": "1",
			"type": "itemfrontpage"
		},
		"_itemhits": {
			"name": "Hits",
			"description": "",
			"access": "1",
			"type": "itemhits"
		},
		"_itemlink": {
			"name": "Item Link",
			"description": "",
			"access": "1",
			"type": "itemlink"
		},
		"_itemmodified": {
			"name": "Modification Date",
			"description": "",
			"access": "1",
			"type": "itemmodified"
		},
		"_itemname": {
			"name": "Name",
			"description": "",
			"access": "1",
			"type": "itemname"
		},
		"_itemprint": {
			"name": "Print",
			"description": "",
			"access": "1",
			"type": "itemprint"
		},
		"_itempublish_down": {
			"name": "Publish Down Date",
			"description": "",
			"access": "1",
			"type": "itempublish_down"
		},
		"_itempublish_up": {
			"name": "Publish Up Date",
			"description": "",
			"access": "1",
			"type": "itempublish_up"
		},
		"_itemprevnext": {
			"name": "Previous\/Next Link",
			"description": "",
			"access": "1",
			"type": "itemprevnext"
		},
		"_itemsearchable": {
			"name": "Searchable",
			"description": "",
			"access": "1",
			"type": "itemsearchable"
		},
		"_itemstate": {
			"name": "State",
			"description": "",
			"access": "1",
			"type": "itemstate"
		},
		"_itemtag": {
			"name": "Tags",
			"description": "",
			"access": "1",
			"type": "itemtag"
		},
		"_staticcontent": {
			"name": "Static Content",
			"description": "",
			"access": "1",
			"type": "staticcontent"
		}
	},
	"zl": null
}