{
	"blog.secciones.full": {
		"media": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"layout": {
					"_layout": "default.php",
					"_sublayout": "_default.php",
					"_lightbox_width": "",
					"_lightbox_height": "",
					"_default_lightbox_caption": "{title|filename}",
					"_default_overlay_caption": "{title|filename}"
				},
				"specific": {
					"_width": "600",
					"_height": "",
					"_avoid_cropping": "",
					"_avoid_resize_small": "0"
				},
				"filter": {
					"_offset": "",
					"_limit": ""
				},
				"separator": {
					"_by": "separator=[ ]",
					"_by_custom": "",
					"_class": ""
				},
				"element": "ecaee7ea-01d2-43a5-94d4-2791f5a48f62"
			}
		},
		"content": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"zoolingual": {
					"_languages": {
						"0": "en-GB"
					}
				},
				"element": "42b41bf8-dbd2-4ede-bdc9-7c46cfb9d8fe"
			},
			"1": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"zoolingual": {
					"_languages": {
						"0": "es-ES"
					}
				},
				"element": "ee35e90b-1174-4eae-95f6-72b217f0a4c3"
			}
		}
	},
	"blog.servicios.teaser": {
		"subtitle": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"zoolingual": {
					"_languages": {
						"0": "es-ES"
					}
				},
				"element": "b4ca0bb3-c712-47fc-b16e-6ee58a9d0bc0"
			},
			"1": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"zoolingual": {
					"_languages": {
						"0": "en-GB"
					}
				},
				"element": "5942fb97-e701-4488-ada8-6624f0f4fef9"
			}
		},
		"media": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"layout": {
					"_layout": "default.php",
					"_sublayout": "_default.php",
					"_lightbox_width": "",
					"_lightbox_height": "",
					"_default_lightbox_caption": "{title|filename}",
					"_default_overlay_caption": "{title|filename}"
				},
				"specific": {
					"_width": "580",
					"_height": "360",
					"_avoid_cropping": "",
					"_avoid_resize_small": "0"
				},
				"filter": {
					"_offset": "",
					"_limit": ""
				},
				"separator": {
					"_by": "separator=[ ]",
					"_by_custom": "",
					"_class": ""
				},
				"element": "6436f65a-571e-43ec-b4bb-823110175f18"
			}
		},
		"content": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"zoolingual": {
					"_languages": {
						"0": "es-ES"
					}
				},
				"element": "f44a71eb-2a32-43f0-86f0-f7b875d4a51c"
			},
			"1": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"zoolingual": {
					"_languages": {
						"0": "en-GB"
					}
				},
				"element": "7512ab32-ee4f-44ab-994c-509676fcde27"
			}
		},
		"links": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_text": "See more",
				"zoolingual": {
					"_languages": {
						"0": "en-GB"
					}
				},
				"element": "_itemlink"
			},
			"1": {
				"showlabel": "0",
				"altlabel": "",
				"link_text": "Ver m\u00e1s",
				"zoolingual": {
					"_languages": {
						"0": "es-ES"
					}
				},
				"element": "_itemlink"
			}
		}
	},
	"blog.media.teaser": {
		"subtitle": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"zoolingual": {
					"_languages": {
						"0": "es-ES"
					}
				},
				"element": "8fbfae86-5e37-40e9-adab-3871178b145c"
			},
			"1": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"zoolingual": {
					"_languages": {
						"0": "en-GB"
					}
				},
				"element": "1ce388d3-6d52-4968-95e2-92b3e93f7bff"
			}
		},
		"media": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"layout": {
					"_layout": "default.php",
					"_sublayout": "_default.php",
					"_default_overlay_caption": "{title|filename}"
				},
				"specific": {
					"_width": "373",
					"_height": "280",
					"_avoid_cropping": "",
					"_avoid_resize_small": "0",
					"_link_to_item": "1"
				},
				"filter": {
					"_offset": "",
					"_limit": "1"
				},
				"separator": {
					"_by": "tag=[<div>%s<\/div>]",
					"_by_custom": "",
					"_class": "uk-animation-scale-up"
				},
				"element": "90491bcd-d300-4faa-bd32-b92d62ccc3b6"
			}
		}
	},
	"blog.media.full": {
		"media": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"layout": {
					"_layout": "widgetkit2.php",
					"_widget": "{\"widget\":\"gallery\",\"columns_small\":\"1\",\"columns_medium\":\"2\",\"columns_large\":\"3\",\"columns_xlarge\":\"3\",\"animation\":\"scale-up\",\"image_width\":\"373\",\"image_height\":\"280\",\"overlay_background\":\"none\",\"image_animation\":\"none\",\"title\":false,\"content\":false,\"lightbox_caption\":\"none\"}"
				},
				"filter": {
					"_offset": "",
					"_limit": ""
				},
				"separator": {
					"_by": "",
					"_by_custom": "",
					"_class": ""
				},
				"element": "90491bcd-d300-4faa-bd32-b92d62ccc3b6"
			}
		}
	},
	"blog.servicios.full": {
		"media": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"layout": {
					"_layout": "default.php",
					"_sublayout": "_default.php",
					"_lightbox_width": "",
					"_lightbox_height": "",
					"_default_lightbox_caption": "{title|filename}",
					"_default_overlay_caption": "{title|filename}"
				},
				"specific": {
					"_width": "585px",
					"_height": "",
					"_avoid_cropping": "",
					"_avoid_resize_small": "0"
				},
				"filter": {
					"_offset": "",
					"_limit": ""
				},
				"separator": {
					"_by": "separator=[ ]",
					"_by_custom": "",
					"_class": ""
				},
				"element": "6436f65a-571e-43ec-b4bb-823110175f18"
			}
		},
		"content": {
			"0": {
				"showlabel": "1",
				"altlabel": "<p class=\"uk-h2\">",
				"layout": {
					"_layout": "default.php"
				},
				"specific": {
					"_render": "text",
					"_text": "",
					"_linktype": "item",
					"_linktext": "",
					"_linktitle": "",
					"_rel": "",
					"_linkitemsource": "current",
					"_linkitemid": "",
					"_linkitemlayout": "full",
					"_linkcatid": "",
					"_linkurl": "",
					"_itemlayout": "edit",
					"_itemsource": "current",
					"_itemid": "",
					"_module": "114",
					"_iframe_content": "item",
					"_iframe_itemlayout": "edit",
					"_iframe_itemsource": "current",
					"_iframe_itemid": "",
					"_iframe_custom_url": ""
				},
				"separator": {
					"_by": "separator=[ ]",
					"_by_custom": "",
					"_class": ""
				},
				"element": "_staticcontent"
			},
			"1": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"zoolingual": {
					"_languages": {
						"0": "es-ES"
					}
				},
				"element": "b4ca0bb3-c712-47fc-b16e-6ee58a9d0bc0"
			},
			"2": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"zoolingual": {
					"_languages": {
						"0": "en-GB"
					}
				},
				"element": "5942fb97-e701-4488-ada8-6624f0f4fef9"
			},
			"3": {
				"showlabel": "1",
				"altlabel": "<\/p>",
				"layout": {
					"_layout": "default.php"
				},
				"specific": {
					"_render": "text",
					"_text": "",
					"_linktype": "item",
					"_linktext": "",
					"_linktitle": "",
					"_rel": "",
					"_linkitemsource": "current",
					"_linkitemid": "",
					"_linkitemlayout": "full",
					"_linkcatid": "",
					"_linkurl": "",
					"_itemlayout": "edit",
					"_itemsource": "current",
					"_itemid": "",
					"_module": "114",
					"_iframe_content": "item",
					"_iframe_itemlayout": "edit",
					"_iframe_itemsource": "current",
					"_iframe_itemid": "",
					"_iframe_custom_url": ""
				},
				"separator": {
					"_by": "separator=[ ]",
					"_by_custom": "",
					"_class": ""
				},
				"element": "_staticcontent"
			},
			"4": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"zoolingual": {
					"_languages": {
						"0": "es-ES"
					}
				},
				"element": "e295e7f2-cae2-4ed9-9fbe-21c0ff9ab8fc"
			},
			"5": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"zoolingual": {
					"_languages": {
						"0": "en-GB"
					}
				},
				"element": "cd735a40-b6db-406f-8aef-f8d4dadce41e"
			}
		},
		"bottom": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"element": "b086cc77-ad64-414e-9fc4-96d36d1b2509"
			}
		}
	},
	"blog.blog.teaser": {
		"subtitle": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"zoolingual": {
					"_languages": {
						"0": "es-ES"
					}
				},
				"element": "e3990e5e-ce07-40d3-9b33-17cc0cf0d423"
			},
			"1": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"zoolingual": {
					"_languages": {
						"0": "en-GB"
					}
				},
				"element": "0d42b245-e62d-4698-bc70-982c70075cb1"
			}
		},
		"media": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"layout": {
					"_layout": "default.php",
					"_sublayout": "_default.php",
					"_lightbox_width": "",
					"_lightbox_height": "",
					"_default_lightbox_caption": "{title|filename}",
					"_default_overlay_caption": "{title|filename}"
				},
				"specific": {
					"_width": "373",
					"_height": "230",
					"_avoid_cropping": "",
					"_avoid_resize_small": "0",
					"_link_to_item": "1"
				},
				"filter": {
					"_offset": "",
					"_limit": ""
				},
				"separator": {
					"_by": "separator=[ ]",
					"_by_custom": "",
					"_class": ""
				},
				"element": "2d3e55bc-5dcb-403e-96e8-b7a00afe8a0e"
			}
		},
		"content": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"zoolingual": {
					"_languages": {
						"0": "es-ES"
					}
				},
				"element": "c47a3872-5149-4f25-a4c4-4b534740c2d5"
			},
			"1": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"zoolingual": {
					"_languages": {
						"0": "en-GB"
					}
				},
				"element": "1dd20d86-519c-493b-beed-6a8f0c1763ca"
			}
		},
		"links": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_text": "See more",
				"zoolingual": {
					"_languages": {
						"0": "en-GB"
					}
				},
				"element": "_itemlink"
			},
			"1": {
				"showlabel": "0",
				"altlabel": "",
				"link_text": "Ver m\u00e1s",
				"zoolingual": {
					"_languages": {
						"0": "es-ES"
					}
				},
				"element": "_itemlink"
			}
		}
	},
	"blog.blog.full": {
		"media": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"layout": {
					"_layout": "default.php",
					"_sublayout": "_default.php",
					"_lightbox_width": "",
					"_lightbox_height": "",
					"_default_lightbox_caption": "{title|filename}",
					"_default_overlay_caption": "{title|filename}"
				},
				"specific": {
					"_width": "430",
					"_height": "380",
					"_avoid_cropping": "",
					"_avoid_resize_small": "0"
				},
				"filter": {
					"_offset": "",
					"_limit": ""
				},
				"separator": {
					"_by": "separator=[ ]",
					"_by_custom": "",
					"_class": ""
				},
				"element": "2d3e55bc-5dcb-403e-96e8-b7a00afe8a0e"
			}
		},
		"content": {
			"0": {
				"showlabel": "1",
				"altlabel": "<p class=\"uk-h2\">",
				"layout": {
					"_layout": "default.php"
				},
				"specific": {
					"_render": "text",
					"_text": "",
					"_linktype": "item",
					"_linktext": "",
					"_linktitle": "",
					"_rel": "",
					"_linkitemsource": "current",
					"_linkitemid": "",
					"_linkitemlayout": "full",
					"_linkcatid": "",
					"_linkurl": "",
					"_itemlayout": "edit",
					"_itemsource": "current",
					"_itemid": "",
					"_module": "114",
					"_iframe_content": "item",
					"_iframe_itemlayout": "edit",
					"_iframe_itemsource": "current",
					"_iframe_itemid": "",
					"_iframe_custom_url": ""
				},
				"separator": {
					"_by": "separator=[ ]",
					"_by_custom": "",
					"_class": ""
				},
				"element": "_staticcontent"
			},
			"1": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"zoolingual": {
					"_languages": {
						"0": "es-ES"
					}
				},
				"element": "e3990e5e-ce07-40d3-9b33-17cc0cf0d423"
			},
			"2": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"zoolingual": {
					"_languages": {
						"0": "en-GB"
					}
				},
				"element": "0d42b245-e62d-4698-bc70-982c70075cb1"
			},
			"3": {
				"showlabel": "1",
				"altlabel": "<\/p>",
				"layout": {
					"_layout": "default.php"
				},
				"specific": {
					"_render": "text",
					"_text": "",
					"_linktype": "item",
					"_linktext": "",
					"_linktitle": "",
					"_rel": "",
					"_linkitemsource": "current",
					"_linkitemid": "",
					"_linkitemlayout": "full",
					"_linkcatid": "",
					"_linkurl": "",
					"_itemlayout": "edit",
					"_itemsource": "current",
					"_itemid": "",
					"_module": "114",
					"_iframe_content": "item",
					"_iframe_itemlayout": "edit",
					"_iframe_itemsource": "current",
					"_iframe_itemid": "",
					"_iframe_custom_url": ""
				},
				"separator": {
					"_by": "separator=[ ]",
					"_by_custom": "",
					"_class": ""
				},
				"element": "_staticcontent"
			},
			"4": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"zoolingual": {
					"_languages": {
						"0": "es-ES"
					}
				},
				"element": "f669d2fd-79b1-42f6-a7d9-2ac85b20896e"
			},
			"5": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"zoolingual": {
					"_languages": {
						"0": "en-GB"
					}
				},
				"element": "d92edfa0-7aa0-4df8-80dc-6312ca0de022"
			}
		},
		"bottom": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"layout": {
					"_layout": "widgetkit2.php",
					"_widget": ""
				},
				"filter": {
					"_offset": "",
					"_limit": ""
				},
				"separator": {
					"_by": "separator=[ ]",
					"_by_custom": "",
					"_class": ""
				},
				"element": "c478f64d-b862-4640-901b-472978dfe2bf"
			}
		}
	}
}