{
	"blog.slideshow.mapping": {
		"content": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"zoolingual": {
					"_languages": {
						"0": "en-GB"
					}
				},
				"element": "0e2813a9-dfed-4eb6-86f2-49a62e00997e"
			},
			"1": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"zoolingual": {
					"_languages": {
						"0": "es-ES"
					}
				},
				"element": "b40f8e4e-f708-469b-9186-4183af61b510"
			}
		},
		"media": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"layout": {
					"_layout": "default.php",
					"_sublayout": "_default.php",
					"_lightbox_width": "",
					"_lightbox_height": "",
					"_default_lightbox_caption": "{title|filename}",
					"_default_overlay_caption": "{title|filename}"
				},
				"specific": {
					"_width": "",
					"_height": "",
					"_avoid_cropping": "",
					"_avoid_resize_small": "0"
				},
				"filter": {
					"_offset": "",
					"_limit": ""
				},
				"separator": {
					"_by": "separator=[ ]",
					"_by_custom": "",
					"_class": ""
				},
				"element": "144b0e71-4cf2-44e8-92d5-f48bf26b581e"
			}
		}
	},
	"blog.secciones.mapping": {
		"content": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"zoolingual": {
					"_languages": {
						"0": "en-GB"
					}
				},
				"element": "b4fd6f09-fe45-4d70-82e1-c823a28aef0e"
			},
			"1": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"zoolingual": {
					"_languages": {
						"0": "es-ES"
					}
				},
				"element": "f0a771df-d869-4954-97ac-ee1764addd74"
			}
		},
		"media": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"layout": {
					"_layout": "default.php",
					"_sublayout": "_default.php",
					"_lightbox_width": "",
					"_lightbox_height": "",
					"_default_lightbox_caption": "{title|filename}",
					"_default_overlay_caption": "{title|filename}"
				},
				"specific": {
					"_width": "",
					"_height": "",
					"_avoid_cropping": "",
					"_avoid_resize_small": "0"
				},
				"filter": {
					"_offset": "",
					"_limit": ""
				},
				"separator": {
					"_by": "separator=[ ]",
					"_by_custom": "",
					"_class": ""
				},
				"element": "ecaee7ea-01d2-43a5-94d4-2791f5a48f62"
			}
		},
		"link": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_text": "",
				"element": "_itemlink"
			}
		}
	},
	"blog.servicios.mapping": {
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"zoolingual": {
					"_languages": {
						"0": "es-ES"
					}
				},
				"element": "b4ca0bb3-c712-47fc-b16e-6ee58a9d0bc0"
			},
			"1": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"zoolingual": {
					"_languages": {
						"0": "en-GB"
					}
				},
				"element": "5942fb97-e701-4488-ada8-6624f0f4fef9"
			}
		},
		"content": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"zoolingual": {
					"_languages": {
						"0": "en-GB"
					}
				},
				"element": "7512ab32-ee4f-44ab-994c-509676fcde27"
			},
			"1": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"zoolingual": {
					"_languages": {
						"0": "es-ES"
					}
				},
				"element": "f44a71eb-2a32-43f0-86f0-f7b875d4a51c"
			}
		},
		"media": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"layout": {
					"_layout": "default.php",
					"_sublayout": "_default.php",
					"_lightbox_width": "",
					"_lightbox_height": "",
					"_default_lightbox_caption": "{title|filename}",
					"_default_overlay_caption": "{title|filename}"
				},
				"specific": {
					"_width": "",
					"_height": "",
					"_avoid_cropping": "",
					"_avoid_resize_small": "0"
				},
				"filter": {
					"_offset": "",
					"_limit": ""
				},
				"separator": {
					"_by": "separator=[ ]",
					"_by_custom": "",
					"_class": ""
				},
				"element": "6436f65a-571e-43ec-b4bb-823110175f18"
			}
		},
		"link": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_text": "",
				"element": "_itemlink"
			}
		}
	},
	"blog.servicios.mapping2": {
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "0",
				"element": "_itemname"
			}
		},
		"content": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "cd735a40-b6db-406f-8aef-f8d4dadce41e"
			}
		},
		"media": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"layout": {
					"_layout": "default.php",
					"_sublayout": "_default.php",
					"_lightbox_width": "",
					"_lightbox_height": "",
					"_default_lightbox_caption": "{title|filename}",
					"_default_overlay_caption": "{title|filename}"
				},
				"specific": {
					"_width": "",
					"_height": "",
					"_avoid_cropping": "",
					"_avoid_resize_small": "0"
				},
				"filter": {
					"_offset": "",
					"_limit": ""
				},
				"separator": {
					"_by": "separator=[ ]",
					"_by_custom": "",
					"_class": ""
				},
				"element": "6436f65a-571e-43ec-b4bb-823110175f18"
			}
		}
	},
	"blog.blog.mapping": {
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"zoolingual": {
					"_languages": {
						"0": "es-ES"
					}
				},
				"element": "e3990e5e-ce07-40d3-9b33-17cc0cf0d423"
			},
			"1": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"zoolingual": {
					"_languages": {
						"0": "en-GB"
					}
				},
				"element": "0d42b245-e62d-4698-bc70-982c70075cb1"
			}
		},
		"content": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"zoolingual": {
					"_languages": {
						"0": "es-ES"
					}
				},
				"element": "c47a3872-5149-4f25-a4c4-4b534740c2d5"
			},
			"1": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"zoolingual": {
					"_languages": {
						"0": "en-GB"
					}
				},
				"element": "1dd20d86-519c-493b-beed-6a8f0c1763ca"
			}
		},
		"media": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"layout": {
					"_layout": "default.php",
					"_sublayout": "_default.php",
					"_lightbox_width": "",
					"_lightbox_height": "",
					"_default_lightbox_caption": "{title|filename}",
					"_default_overlay_caption": "{title|filename}"
				},
				"specific": {
					"_width": "",
					"_height": "",
					"_avoid_cropping": "",
					"_avoid_resize_small": "0"
				},
				"filter": {
					"_offset": "",
					"_limit": ""
				},
				"separator": {
					"_by": "separator=[ ]",
					"_by_custom": "",
					"_class": ""
				},
				"element": "2d3e55bc-5dcb-403e-96e8-b7a00afe8a0e"
			}
		},
		"link": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_text": "",
				"element": "_itemlink"
			}
		}
	},
	"blog.media.mapping": {
		"content": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"zoolingual": {
					"_languages": {
						"0": "es-ES"
					}
				},
				"element": "8fbfae86-5e37-40e9-adab-3871178b145c"
			},
			"1": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"zoolingual": {
					"_languages": {
						"0": "en-GB"
					}
				},
				"element": "1ce388d3-6d52-4968-95e2-92b3e93f7bff"
			}
		},
		"media": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"layout": {
					"_layout": "default.php",
					"_sublayout": "_default.php",
					"_default_overlay_caption": "{title|filename}"
				},
				"specific": {
					"_width": "",
					"_height": "",
					"_avoid_cropping": "",
					"_avoid_resize_small": "0"
				},
				"filter": {
					"_offset": "",
					"_limit": ""
				},
				"separator": {
					"_by": "separator=[ ]",
					"_by_custom": "",
					"_class": ""
				},
				"element": "90491bcd-d300-4faa-bd32-b92d62ccc3b6"
			}
		},
		"link": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_text": "",
				"element": "_itemlink"
			}
		}
	}
}