@import 'https://fonts.googleapis.com/css?family=Roboto:400,300';
@import 'https://fonts.googleapis.com/css?family=Great+Vibes';

@global-style: 'default';
@global-link-color: #0f4c82;
@global-primary-background: #0f4c82;
@utility-container-max-width: 1280px;
@utility-container-large-max-width: 1280px;
@button-border: #0f4c82;
@button-hover-border: #0f4c82;
@global-body-font-family: 'Roboto';
@global-heading-font-family: 'Great Vibes';
@global-font-weight: 400;
@global-alt-font-family: 'Roboto';